<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Cluster Visualization</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="/plot">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </nav>
    <main>
        <h1>Cluster Visualization</h1>
        <img src="{{ plot_path }}" alt="Cluster Distribution">

    </main>

    <footer class="footer">
        <p>&copy; 2022 Accidental Analysis Dashboard. All rights reserved.</p>
    </footer>
</body>
</html>
